---
# defaults file for roles/common
binaries_folder: /opt/alfresco
config_folder: /etc/opt/alfresco
data_folder: /var/opt/alfresco
logs_folder: /var/log/alfresco

# Default home for components
sync_home: "{{ binaries_folder }}/sync-service"
ats_home: "{{ binaries_folder }}/transform-service"

# Due to https://github.com/ansible/ansible/issues/64957
# Using default() filter for hostvars 1st level key requires ansible 2.10+
repo_host: "{% if groups.repository | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.repository[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
repo_host_internal: "{{ ansible_default_ipv4.address }}"
activemq_host: "{% if groups.activemq | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.activemq[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
#activemq_host_internal: "{{ ansible_eth0.ipv4.address }}"
activemq_host_internal: "{{ ansible_default_ipv4.address }}"
db_host: "{% if groups.database | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.database[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
db_host_internal: "{{ ansible_default_ipv4.address }}"
solr_host: "{% if groups.search | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.search[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
solr_host_internal: "{{ ansible_default_ipv4.address }}"
share_host: "{{ repo_host }}"
share_host_internal: "{{ ansible_default_ipv4.address }}"
ats_tengine_aio_host: "{% if groups.transformers | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.transformers[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
ats_tengine_aio_host_internal: "{{ ansible_default_ipv4.address }}"
sfs_host: "{% if groups.transformers | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.transformers[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
sfs_host_internal: "{{ ansible_default_ipv4.address }}"
trouter_host: "{% if groups.transformers | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.transformers[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
trouter_host_internal: "{{ ansible_default_ipv4.address }}"
adw_host: "{% if groups.adw | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.adw[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
adw_host_internal: "{{ ansible_default_ipv4.address }}"
sync_host: "{% if groups.syncservice | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.syncservice[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
sync_host_internal: "{{ ansible_default_ipv4.address }}"


# Default download location of necessary artefacts
download_location: /tmp/ansible_artefacts

